/*
    http://weblab.cs.uml.edu/~lkimball/lkimball.html
    Name: Liam Kimball
    Email: Liam_Kimball@student.uml.edu
    UMass Lowell Computer Science student
    Date: 11/3/2019
*/
/* Header of page with background image */
body {
    background-color: rgb(43, 46, 51) !important;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
    font-size: 100%;
    letter-spacing: 0.15em;

}
.content {
    max-width: 85%;
    margin: auto;
    background-color: rgb(53, 56, 59);
    
}
.header {
    color: darkorange;
    background-image: url(../img/header_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(25, 20, 28) !important;
    background-size: 940px;
    height: 300px;
}
.header h1 {
    font-size: 180%;
    font-weight: bold;
}
.container {
    padding-bottom: 100px;
}
.container, .container a {
    color: darkorange;
}
.box {
    background-color:  rgb(43, 46, 51);
    padding: 20px;
    margin: 5px;
    border-radius: 15px;
    min-width: 280px;
}
p {
    color: rgb(228, 177, 120);
}
.navbar {
    background-color: #333;
}

h2, h3 {
    color: steelblue;
}
.nav-pills .dropdown-item {
    background-color: rgb(77, 76, 76) !important;
    max-width: 250px;
    margin: 10px;
    border-radius: 10px;
}
.dropdown-item:hover {
    background-color: rgb(86, 86, 110) !important;
}
#profilepic {
    min-width: 250px;
    max-width: 90%;
    border-radius: 15px;
    padding: 10px;
}
#profilepic2 {
    min-width: 250px;
    max-width: 70%;
    border-radius: 15px;
    padding: 10px;
}
#runningpic {
    min-width: 250px;
    max-width: 90%;
    border-radius: 15px;
    padding: 10px;
}
#eduList {
    color: rgb(228, 177, 120); 
}
a:hover {
    color: white;
}
