
#draggable { 
    width: 80px; 
    height: 80px; 
    padding: 0.1em; 
    float: left; 
    margin: 5px 5px 5px 20px; 
}
#droppable { 
    width: 80px; 
    height: 80px; 
    padding: 0; 
    float: left; 
    margin: 5px;
}


img {
    width: 100%;
}