table {
    font-size: 70%;
}

th {
    background-color: rgb(0, 50, 100);
    color: white;
} 
td:hover{
    background-color: steelblue !important;
}
tr:nth-child(even) td:nth-child(odd), 
tr:nth-child(odd) td:nth-child(even){
    background-color: rgb(233, 233, 233);
}
th:hover {
    background-color: plum;
}

td, th {
    position: relative;
}
input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.error {
    color: red;
    margin-left: 5px;
  }
